* {
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
@font-face {
    font-family: 'Digital-7 Mono-italic';
    src: url('font/digital-7-font/Digital-7MonoItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Digital-7italic';
    src: url('font/digital-7-font/Digital-7Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('font/digital-7-font/Digital-7Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Digital-7';
    src: url('font/digital-7-font/Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* font-display: swap; */
}
body {
    margin: 0;
}
#main {
    background-color: rgb(7, 6, 6);
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5px;
    padding: 10px;
    margin-top: 10px;
}
main {
    height: calc(100vh - 100px);
}
#numberField {
    grid-column: 1 / span 4;
    grid-row: 1;
    font-size: calc(300%);
    text-align: right;
    padding: 0 10%;
    background-color: black;
    color: white;
    font-family: 'Digital-7';
    font-weight: normal;
    font-size: normal;
    /* width: 100%; */
}
#numberField:focus {
    outline: none;
}
.ac-button {
    grid-column: 1 / 3;
    grid-row: 2;
}


button {
    /* background-color: white; */
    border: 1px solid black;
    /* border-radius: 100%; */
    font-size: 25px;
}
button:hover {
    border: 1px solid grey;
    color: black;
    border-radius: 0;
}
footer {
    height: 90px;
    border-top: 3px solid #c4c4c4;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    background-color: #303841;
    border-radius: unset;
}
